.media-img[b-85jbc0van4] {
    max-height: 500px;
    max-width: 500px;
    border-radius: 6px;
    margin-bottom: 10px;
    margin: 0 10px 10px 10px;
}

.media-img-wrapper[b-85jbc0van4] {
    max-width:500px;
    max-height:500px;
    text-align: center;
}

@media (max-width: 1023.98px) {
    .media[b-85jbc0van4] {
        flex-direction: column;
    }

    .media-title[b-85jbc0van4] {
        text-align: center;
    }

    .media-img-wrapper[b-85jbc0van4] {
        width: 100%;
        height: auto;
    }
}
